<div id="bookmark-container" class="container">
	<div class="bookmark col-md-4 col-sm-6 col-xs-12" ng-repeat="bookmark in bookmarks">
		<div class="bookmark-inner">
			<div class="bookmark-image" ng-style="bookmark.style">
				<div class="bookmark-image-color"></div>
			</div>
			<div class="bookmark-info">
				<div class="bookmark-info-name"><a href="http://test.com">{{bookmark.name}}</a></div>
				<div class="bookmark-info-divider"></div>
				<div class="bookmark-info-modified"><span>Edited</span> {{bookmark.modifiedDate}}</div>
				<div class="bookmark-info-tags">
					<span>Tags:</span><span class="bookmark-info-tags-tag" ng-repeat="tag in bookmark.tags">{{tag}}</span>
				</div>
				<div class="btn-group bookmark-info-buttons">
					<button type="button" class="btn btn-default bookmark-info-buttons-delete" ng-click="deleteBookmark(bookmark.id)">
						<span class="glyphicon glyphicon-remove bookmark-info-buttons-delete-icon"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>