<div class="container">
	<h1>Visual Bookmark Help</h1>

	<div class="divider"></div>

	<section>
		<h2>Using Visual Bookmark</h2>
		<ul>
			<li>Click Visual Bookmark icon to add webpage to bookmark</li>
			<li>Click wrench icon on bookmark card to edit bookmark information</li>
			<li>Users are able to edit bookmark title and tags</li>
			<li>Click ‘X’ icon to delete bookmark card</li>
		</ul>
	</section>

	<section>
		<h2>Tips for Visual Bookmark</h2>
		<ul>
			<li>Create your own titles for webpages</li>
			<li>Create tags to find card quickly</li>
			<li>Use colon to separate tags</li>
		</ul>
	</section>

	<section>
		<h2>Shortcuts for Visual Bookmark</h2>
		<ul>
			<li>Ctrl + Shift + V to add new bookmark card</li>
			<li>Ctrl + Shift + D to delete card</li>
			<li>Ctrl + Shift + E to edit card</li>
			<li>Ctrl + Shift + S to open settings</li>
		</ul>
	</section>
	
	<section>
		<h2>Frequently Asked Questions</h2>
		<ul>
			<li><strong>Why do I have to add tags?</strong></li>
			Tags allow you to catorgize your bookmarks for quick acces at a later date
			<li><strong>Why do I need a sign?</strong></li>
			You sign in to keep all your visual bookmarks private and away from prying eyes
			<li><strong>How do I change my card title?</strong></li>
			Click the wrench icon on the bottom right of your card to edit the title and tags. 
		</ul>
	</section>
</div>