<style type="text/css">
	.divider {
		height: 2px;
		width: 100%;
		background-color: #ccc;
		margin: 10px 0px 10px 0px;
	}
</style>

<div class="container">
	<h1>Visual Bookmark Help</h1>

	<div class="divider"></div>

	<h2>Using Visual Bookmark</h2>
	<ul>
		<li>Click Visual Bookmark icon to add webpage to bookmark</li>
		<li>Click wrench icon on bookmark card to edit bookmark information</li>
		<li>Users are able to edit bookmark title and tags</li>
		<li>Click ‘X’ icon to delete bookmark card</li>
	</ul>

	<h2>Tips for Visual Bookmark</h2>
	<ul>
		<li>Create your own titles for webpages</li>
		<li>Create tags to find card quickly</li>
		<li>Use colon to separate tags</li>
	</ul>

	<h2>Shortcuts for Visual Bookmark</h2>
	<ul>
		<li>Ctrl + Shift + V to add new bookmark card</li>
		<li>Ctrl + Shift + D to delete card</li>
		<li>Ctrl + Shift + E to edit card</li>
		<li>Ctrl + Shift + S to open settings</li>
	</ul>
</div>