<div id="home-jumbotron" class="jumbotron">
	<div class="container">
		<h1>Visual Bookmark</h1>
		<h3>Redefining the bookmark</h3>
	</div>
</div>

<div id="signup">
	<div class="container">
		<form id="signup-form">
			<input id="signup-submit" type="submit" value="Try it now!" ng-click="signUp(signUpForm.accountName, signUpForm.username, signUpForm.password)" />
			<input id="signup-password" type="password" ng-model="signUpForm.password" />
			<input id="signup-username" type="textbox" ng-model="signUpForm.username" />
			<input id="signup-accountname" type="textbox" ng-model="signUpForm.accountName" />
		</form>
	</div>
</div>

<div class="container">
	<h1>What people are saying</h1>
	<blockquote class="col-md-4">
		<p>Other bookmarks just don't compare!</p>
		<footer>Bob Thomas</footer>
	</blockquote>
	<blockquote class="col-md-4">
		<p>Visual Bookmark is my gift to humanity!</p>
		<footer>God</footer>
	</blockquote>
	<blockquote class="col-md-4">
		<p>Once you go Visual Bookmark, you don't go back.</p>
		<footer>Robert Snow</footer>
	</blockquote>

	<p>Visual Bookmark gives the user the ability to create, manage, and understand their bookmarks. This application is designed for any skill level. It is available for anyone who would like easy accessibility to their favorite web pages. This application is created for the user who would like to add or manage bookmarks for easy access and preview the page to get a live update of the web page. A search box is available to search through existing bookmarks. There is also a field where the user will be able to create their bookmarks.</p>

	<div class="col-md-6">
		<h1>Why choose anything else?</h1>
		<p>Visual Bookmark takes creating the average bookmark to the next level. By simply inputting the URL of a website a new interactive bookmark will be created. Just put tags to help categorize your bookmark, making it easy to search for.A screenshot 
will be taken of the webpage and will be a part of your bookmark. You'll know what the website is without having to actually go to it. Just log in and you will have your favorite bookmarks anywhere at anytime. Visual Bookmarks makes bookmarking websites quick and easy.</p>
	</div>

	<div class="col-md-6">
		<table class="table">
			<tr>
				<th>Visual Bookmark</th>
				<th>Competitors</th>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Awesome</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></span>Boring</td>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Add & Search bookmarks with advance directives</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></span>Adds basic bookmarks</td>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Annotate bookmarks and search notes with fuzzy search</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></span>Adding notes to bookmarks</td>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Live screenshots of bookmarks</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></span>Screenshot of the bookmarks</td>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Cloud storage of bookmarks</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></span>Local storage of bookmarks</td>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Accessible across any browser or device</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></td>
			</tr>
			<tr>
				<td><span class="glyphicon green-glyph glyphicon-ok"></span>Secure storage of bookmarks</td>
				<td><span class="glyphicon red-glyph glyphicon-remove"></td>
			</tr>
		</table>
	</div>
</div>