<div class="container">
<div class="col-md-12">

<h1><b>About Visual Bookmark</b></h1>

<section>

<p>
<br>
<h3><b>What is Visual Bookmark?</b></h3>

Visual Bookmark offers the solution to this point of pain in the users workflow.  By building upon an already gathered  list of possibly useful information, Visual  Bookmark expands the real-time searching and comprehension capabilites of  the  average web user, while providing an enticing visual experience and a low barrier  to entry. In a sense, this idea has already existed in the form of search engines;  however, Google, Yahoo, and other similar websites only search outwardly into a  vast and unfiltered body of knowledge. What is more relevant in todays world is  building a personal library of useful links and then utilizing a powerful search  tool to understand them.
</p>

<h3><b>What makes it so great?</b></h3>
<p>
By building upon an already gathered list of possibly useful information, Visual  Bookmark expands the real-time searching and comprehension capabilities of the  average web user while providing an enticing visual experience and a low barrier  to entry. In essence, Visual bookmark seeks to become the simple, yet effective,  traditional bookmark replacement on a large scale that enables existing data- crunching methods for end users.

<br>
<br>
<br>
<br>
</p>

</section>
</div></div>


