
<div class="container">
	<div id="sidebarMenu" class="col-md-2">
		<ul>
			<li>General</li>
			<li>Plugin</li>
			<li>Account</li>
		</ul>
	</div>
	<div id="leftContent" class="col-md-5">
		<h3>Bookmark Settings</h3>
		<ul>
			<li>
				<input type="checkbox" />
				<label>Display screenshots</label>
			</li>
			<li>
				<input type="checkbox" />
				<label>Archive deleted bookmarks</label>
			</li>
		</ul>
		<h3>Dashboard Settings</h3>
		<ul>
			<li>
				<input type="checkbox" />
				<label>Display search icon</label>
			</li>
			<li>
				<input type="checkbox" />
				<label>Display Add Bookmark icon</label>
			</li>
			<li>
				<input type="checkbox" />
				<label>Display Settings icon</label>
			</li>
			<li>
				<input type="checkbox" />
				<label>Display Help icon</label>
			</li>
		</ul>
	</div>
	
	<div id="rightContent" class="col-md-5">
		<label>Default link behavior: </label>
		<select>
			<option value="">Open URL in same window</option>
			<option value="">Display bookmark information</option> <!--Should this go under Bookmark settings?-->			
		</select>
		<br/>
		<br/>
		<br/>
		<br/>
		<br/>
		<ul>
			<li>
				<input type="checkbox" />
				<label>Automatic refresh</label>
			</li>
			<li>
				<input type="checkbox" />
				<label>Infinite scrolling</label>
			</li>
			<li>
				<input type="checkbox" />
				<label>Desktop notifications</label>
			</li>
		</ul>
	</div>
</div>