<style>
	#content{
		overflow: auto;
		border: 1px solid black;
		height: 90%;
		width: 70%;
		margin-left: 20%; /*Width of sidebar*/
	}
	#content ul
	{
		padding-left:0; /*Remove indentation for lists*/
	}
	#leftColumn{
		float:left;
		width: 30%;
		padding-left: 20px;
	}
	#rightColumn{
		float:right;
		width: 50%;
		border-left: 1px solid black;
		margin-left: -41px; /*Sum of all padding-left + 1 px*/
		padding-left: 20px;
		margin-top: 50px;
	}
	#sidebarMenu{
		float: left;
		width: 20%;
		margin-top: -16px;
	}
	#sidebarMenu ul li{
		height: 60px;
		border: 1px solid black;
		list-style: none;
		text-align: center;		
	}
</style>
	
	<div id="sidebarMenu">
		<ul>
			<li><h3>General</h3></li>
			<li><h3>Plugin</h3></li>
			<li><h3>Account</h3></li>
		</ul>
	</div>
	<div id="content">
		<div id="leftColumn" ng-controller="SettingsController as settings">
			<h1>Bookmark Settings</h1>
			<ul style="list-style: none;">
				<li ng-repeat="setting in settings.BMSettings"  style="text-decoration: none;">
					<input type="checkbox" ng-show='{{setting.checked}}' checked/>
					<input type="checkbox" ng-show='{{!setting.checked}}' />
					{{setting.name}}
				</li>
			</ul>
			<br/>
			<br/>
			<h1>Dashboard Settings</h1>
			<ul style="list-style: none;">
				<li ng-repeat="setting in settings.DBSettings"  style="text-decoration: none;">
					<input type="checkbox" ng-show='{{setting.checked}}' checked/>
					<input type="checkbox" ng-show='{{!setting.checked}}' />
					{{setting.name}}
				</li>
			</ul>
		</div>
		<div id="rightColumn" ng-controller="SettingsController as settings">
			<label>Default link behavior: </label>
			<select>
				<option value="">Open URL in same window</option>
				<option value="">Display bookmark information</option> <!--Should this go under Bookmark settings?-->			
			</select>
			<br/>
			<br/>
			<ul style="list-style: none;">
				<li ng-repeat="setting in settings.BMSettingsSwitch"  style="text-decoration: none;">
					<input type="checkbox" ng-show='{{setting.checked}}' checked/>
					<input type="checkbox" ng-show='{{!setting.checked}}' />
					{{setting.name}}
				</li>
			</ul>
		</div>
	</div>
	