#footer {
	padding: 50px;
	margin-top: 20px;
	background-color: #f8f8f8;
}

#footer a{
	color: #777;
}

#footer a:hover {
	color: #333;
	text-decoration:none;
}

.footer-list {
	list-style-type: none;
}