body {
	padding-top: 70px;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
}

#login {
	position: relative;
	float: right;
	background-color: #f8f8f8;
	padding: 10px;
	top: -20px;
}

#login-form {
	max-width: 480px;
	width: 100%;
	height: 25px;
}

#login-username, #login-password, #login-submit {
	width: 32.66%;
	height: 100%;
	float: right;
}

#login-password, #login-submit {
	margin-left: 1%;
}

#search {
	position: relative;
	float: right;
	background-color: #f8f8f8;
	padding: 10px;
	top: -20px;
}

#search-form {
	max-width: 480px;
	width: 100%;
	height: 25px;
}

#search-text, #search-submit {
	width: 49.5%;
	height: 100%;
	float: right;
}

#search-submit {
	margin-left: 1%;
}

#addBookmark {
	position: relative;
	float: right;
	background-color: #f8f8f8;
	padding: 10px;
	top: -20px;
}

#addBookmark-form {
	max-width: 480px;
	width: 100%;
	height: 25px;
}

#addBookmark-url, #addBookmark-submit {
	width: 49.5%;
	height: 100%;
	float: right;
}

#addBookmark-submit {
	margin-left: 1%;
}

.badForm {
	background-color: #FFDDDD;
}