#home-jumbotron {
	position: relative;
	margin-top: -20px;
	background-color: #d8d8d8;
	margin-bottom: 0px;
}

#signup {
	background-color: #f8f8ff;
}

#signup-form {
	width: 100%;
	height: 45px;
	float: right;
	padding: 10px 0px 10px 0px;
}

#signup-email, #signup-username, #signup-password, #signup-submit {
	width: 24.25%;
	height: 100%;
	float: right;
}

#signup-username, #signup-password, #signup-submit {
	margin-left: 1%;
}
.green-glyph{
color: green;
}
.red-glyph{
color:red;
}